<div class="slide-out-bg"></div>

<div class="slide-out">
  {{#link-to "author.edit" model.id class="btn-back"}}
    <span class="sr-only">Back</span>
  {{/link-to}}

  <div class="slide-out-heading">
    <div class="title">
      <h3>Editing: {{model.first}}, {{model.last}}</h3>
    </div>

    <div class="slide-out-content">
      {{author-form author=model onsubmit=(action "saveAuthor")}}
    </div>
  </div>
</div>