<div class="app">
  <nav class="main-nav">
    <h1 class="logo">
      {{#link-to "index"}}
        <img src="/logo.svg" alt="Ember library">
        <span class="sr-only">Ember library</span>
      {{/link-to}}
    </h1>

    <ul>
      <li>{{#link-to "author"}}Authors{{/link-to}}</li>
      <li><a href>Books</a></li>
    </ul>
  </nav>
  <main class="app-content">{{outlet}}</main>
</div>

