<div class="panel-heading">
  <div class="search">
    <input type="text" placeholder="Search by author name">
  </div>

  <a href>
    <div class="sr-only">Add a new author</div>
  </a>
  
  <div class="panel-content">
    <h3 class="panel-title">Authors</h3>
  </div>

  <ul class="collection">
    {{#each model as |author|}}
      {{author-list-item 
        authorId=author.id
        first=author.first 
        last=author.last 
        tagName="li"
      }}
    {{/each}}
  </ul>
</div>

{{outlet}}